<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<!--Comentario-->
		<add key="tipo_cambio_dolares" value="648"/>

		<add key="tipo_cambio_euros" value="739,41"/>

		<add key="Listar_Regiones" value="dbo.SP_LISTAR_REGIONES"/>

		<add key="Filtrar_Regiones" value="dbo.SP_FILTRAR_REGIONES"/>




		<add key="Listar_Pais" value="dbo.SP_LISTAR_PAIS"/>

		<add key="Filtrar_Pais" value="dbo.SP_FILTRAR_PAIS"/>


		


	</appSettings>

	<connectionStrings>
		<!--Declaramos todas las conecciones con las bases de datos-->
		<!--Parametros add: name(nombre de la coneccion) + provider name(proveedor de servicios o un protocolo BBDD
		+ conmectionstring (credenciales para ingresar al sistema BBDD SQL Manager)-->

		<!--Vamos a usar 2 tipos de autenticacion: WINDOWS y SQL	-->
		<add name="WIN_AUT"
		providerName="System.Data.SqlClient"
		connectionString="Data Source=DESKTOP-UAMVI48; 
                               Initial Catalog=Northwind;
                               Integrated Security=True;"/>
		<!--Data source Nombre servidor base datos + en este caso el de la compu-->
		<!--Initial Catalog nombre especifico de la base de datos	-->
		<!--Integrated Security tipo de conección que se va a usar	-->

		<add name="SQL_AUT"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=DESKTOP-UAMVI48;
        Initial Catalog=Northwind;
        Persist Security Info=True;
        User ID=sa;
        Password="/>


	</connectionStrings>



</configuration>